
.slides-container {
  position: relative;
  height: 100%;
  font-family: opensans;
}

h1, h2, h3 {
  font-weight: lighter;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
}

h1 {
  margin: 0;
  font-size: 4em;
  font-family: $korb;
  font-weight: lighter;
  span {
    font-size: .6em;
  }
}

h2 {
  font-size: 2em;
  font-family: $opsb;
}

h3 {
  font-size: 1em;
  font-family: $opsb;
}

img {
  max-width: 100%;
}


// Slides
  .slide {
    display: table;
    width: 100%; height: 100%;
    text-align: center;
    opacity: 0;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    @include pos(a, 0,0,0,0);
  }

    .slide-content {
      display: table-cell;
      vertical-align: middle;
      padding: 2em;
    }


// Themes
  h1 { color: $red; }
  h2 { color: $blue--dark; }
  h3 { color: $blue--light; }

  .slide {
    background-color: #fff;
    &.slide--darker {
      background-color: $violet;
      h1 {
        color: #fff;
        span {
          opacity: .7;
        }
      }
    }
  }


// Specific
  .is-current,
  .slide-child.is-show {
    opacity: 1;
  }

  .sl-logo,
  .tl-logo,
  .cf-logo {
    display: block;
    margin: 0 auto;
  }

  .slide--1 {
    .cifacom-logo {
      margin-top: 40px;
      margin-bottom: 30px;
    }
  }

  .slide--3 {
    .slide-content {
      background-color: #4EC6C6;
    }
    .sl-logo {
      width: 15%;
      max-width: 130px;
      margin-bottom: 3em;
    }
    .sl-apercu {
      max-height: 70%;
    }
  }

  .slide--4 {
  }

  .tl-products-container,
  .products-container {
    margin-top: 4em;
  }
  .tl-product,
  .product {
    &:first-child {
      margin-left: 0;
    }
  }
  .product {
    margin-left: 3em;
  }
  .tl-product {
    margin-left: 6em;
  }
  .tl-product-title {
    font-size: 1em;
    color: $orange;
  }


// Subslide
  .slide-child {
    opacity: 0;
    animation-duration: .6s;
    animation-fill-mode: forwards;
  }




