/*
 * $Generals
 */
$bp-large: 60em;
$bp-medium: 40em;
$bp-small: 30em;

/*
 * $Colors
 */
$violet: #313E62;
$grey: #9A9A9A;
$grey--violet: #9C91A8;
$blue--dark: #313E62;
$blue--light: #93CFED;
$yellow: #F8E650;
$red: #F2897E;
$green: #6EC7B4;

/*
 * $Fonts
 */
 $ops: 'opensans-regular', Helvetica, Arial, sans-serif;
 $opsb: 'opensans-bold', Helvetica, Arial, sans-serif;
 $korb: 'korb', Helvetica, Arial, sans-serif;