doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    link(rel="stylesheet", href="css/app.css")
  body
    .slides-container
      include partials/slide-1
      include partials/slide-2
      include partials/slide-3
      include partials/slide-4

    script(src="js/libs/zepto.min.js")
    script(src="js/app.js")