.slide.slide--2.slide--lighter(data-animation="zoomIn")
  .slide-content
    img.tl-logo(src="images/tl-logo.gif", width="300")
    ul.tl-products-container
      li.tl-product.slide-child(data-animation="bounceIn")
        img.conversation-logo(src="images/products/conversation.svg")
        h2 Conversation
      li.tl-product.slide-child(data-animation="bounceIn")
        img.insights-logo(src="images/products/insights.svg")
        h2 Insights
      li.tl-product.slide-child(data-animation="bounceIn")
        img.appbuilder-logo(src="images/products/appbuilder.svg")
        h2 Appbuilder