.slide.slide--1.slide--darker.is-current(data-animation="fadeIn")
  .slide-content
    h1 Soutenance de stage
      span Onali ugo - tw 2014
    img.cifacom-logo(src="imgs/cifacom-logo-white.png", width="150")