.slide.slide--3.slide--lighter(data-animation="fadeIn")
  .slide-content
    img.sl-logo(src="imgs/sleek-logo--white.png", width="150")
    img.sl-apercu.slide-child(src="imgs/sleek-workflow.png", data-animation="bounceIn")