.slide.slide--2.slide--lighter(data-animation="zoomIn")
  .slide-content
    img.tl-logo(src="imgs/tl-logo-1.gif", width="300")
    ul.tl-products-container
      li.tl-product.slide-child(data-animation="bounceIn")
        img.tl-product-img.conversation-logo(src="imgs/products/conversation.svg")
        h2.tl-product-title Conversation
      li.tl-product.slide-child(data-animation="bounceIn")
        img.tl-product-img.insights-logo(src="imgs/products/insights.svg")
        h2.tl-product-title Insights
      li.tl-product.slide-child(data-animation="bounceIn")
        img.tl-product-img.appbuilder-logo(src="imgs/products/appbuilder.svg")
        h2.tl-product-title Appbuilder